<%= form_for(:access, url: create_session_path,
                      html: {class: "plain_form"}) do |f| %>

  <%= f.label :email, t(:email), class: "label" %>
  <%= f.email_field :email, class: "text_field" %>

  <%= f.label :password, class: "label" do %>

    <div class = "password_label">
      <%= t(:password) %>
    </div>

    <%= link_to t(:recover), reset_password_form_path,
                                   class: "password_restore_link" %>

  <% end %>

  <%= f.password_field :password, class: "text_field" %>

  <%= f.check_box :get_human_card, class: "checkbox" %>

  <%= label_tag :access_get_human_card, class: "checkbox_label" do %>
    <div class = 'checkbox_image'>
    </div>
    <div class = "RememberMeText">
      <%= t(:remember_me) %>
    </div>
  <% end %>

  <%= f.submit t(:enter), class: "button_submit_for_checkbox" %>
<% end %>
