<%= form_for(@human, html: {multipart: true, class: "plain_form"}) do |f| %>

  <%= render partial: 'shared/form_errors', locals: { object: @human } %>

  <div class = "avatar_block">

    <div class = "avatar_photo_block">
      <%= image_tag avatar_path(@human.id), class: "avatar_photo" %>
    </div>

    <div class = "avatar_rotation_block">
      <%= radio_button_tag :rotate_avatar, 'nope', true,
                                                   class: "radio_button" %>

      <%= label_tag :rotate_avatar_nope, class: "radio_button_label" do %>
        <div class = "radio_button_image">
        </div>
        <div class = "radio_button_text">
          <%= t(:do_not_rotate) %>
        </div>
      <% end %>

      <%= radio_button_tag :rotate_avatar, "left", false,
                                                   class: "radio_button" %>

      <%= label_tag :rotate_avatar_left, class: "radio_button_label" do %>
        <div class = "radio_button_image">
        </div>
        <div class = "radio_button_text">
          <%= t(:turn_left) %>
        </div>
      <% end %>
                                    
      <%= radio_button_tag :rotate_avatar, 'right', false,
                                                    class: "radio_button" %>

      <%= label_tag :rotate_avatar_right, class: "radio_button_label" do %>
        <div class = "radio_button_image">
        </div>
        <div class = "radio_button_text">
          <%= t(:turn_right) %>
        </div>
      <% end %>

      <%= radio_button_tag :rotate_avatar, 'upside_down', false,
                                           class: "radio_button" %>

      <%= label_tag :rotate_avatar_upside_down,
                    class: "radio_button_label" do %>
        <div class = "radio_button_image">
        </div>
        <div class = "radio_button_text">
          <%= t(:turn_upside_down) %>
        </div>
      <% end %>
                                    
    </div>

    <%= f.label :avatar, t(:upload_new_avatar),
                         class: "upload_label" %>
    <%= f.file_field :avatar, accept: 'image/jpeg, image/gif, image/png',
                              class: "upload_field" %>
  </div>

  <%= f.label :name, t(:name), class: "label" %>
  <%= f.text_field :name, class: "text_field" %>

  <%= f.label :email, t(:email), class: "label" %>
  <%= f.email_field :email, class: "text_field" %>

  <%= f.label :password, t(:password), class: "label" %>
  <%= f.password_field :password, class: "text_field" %>

  <%= f.label :password_confirmation, t(:password_confirmation),
                                      class: "label" %>
  <%= f.password_field :password_confirmation, class: "text_field" %>

  <%= f.submit t(:update_profile), class: "button_submit" %>

<% end %>
