<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:main_title) %></title>
      <%= stylesheet_link_tag 'application', media: 'all',
                              'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application',
                                 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <p class='MainHeader'><%= t(:main_title) %></p>
      <nav class='navigation'>
        <div class = 'navigation_block'>
          <%= link_to t(:humans), humans_path, class: "header_link" %>
          <%= link_to t(:photo_galleries), photo_galleries_path,
                                           class: "header_link" %>

          <div class="language_block">
            <div class="language_cover">

                <div class="language_title">
                  <%= t(:language) %>
                </div>

                <div class="item">
                  <%= link_to t(:english), url_for(language: "en"),
                                    class: "submenu_link" %>
                </div>

                <div class="item">
                  <%= link_to t(:russian), url_for(language: "ru"),
                                    class: "submenu_link" %>
                </div>

            </div>
          </div>

          <% if human_inside? %>
            <%= link_to t(:log_out), destroy_session_path,
                                     method: "delete", class: "header_link" %>
          <% else %>
            <%= link_to t(:log_in), login_form_path, class: "header_link" %>
            <%= link_to t(:create_profile), new_human_path,
                                            class: "header_link" %>
          <% end %>

        </div>
      </nav>
    </header>

    <div class = 'InformationBlock' id = 'InformationBlock'>
      <% flash.each do |key, value| %>
        <% if key == 'alert' %>
          <div class = 'AlertInformation'>
            <%  if value.kind_of?(Array) %>
              <% value.each do |x| %>
                <%= x %>
                <br>
              <% end %>
            <% else %>
              <%= value %>
            <% end %>
          </div>
        <% elsif key == 'message' %>
          <div class = 'CommonInformation'>
            <%= value %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="wrapper">
      <%= yield %>
    </div>

    <footer>
      <div class = 'FooterText'>
        <%= t(:Ñreated_by) %>
      </div>
    </footer>

  </body>
</html>
